PORT=3333
EXTERNAL_PORT=3334

POSTGRES_HOST=localhost
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}/${POSTGRES_DB}

TOKEN_SECRET=aef3397ffba0833e9eabca663ae0bcfd
TOKEN_MAX_TIME_LIFE=1y